*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    color: rgb(red, green, blue);
    font-family: geometria;
}
body{
  height: 100vh;
    background-color: darkcyan;
}

:root {
    --grid-z: 1;
    --cell-size: 1;
    --base-color: white;
    --second-color: crimson;
  }

  .user-interface{
    display: flex;
    gap: 16px;
  }

  .toggle-container{
    display: flex;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 3;
  }

  input{
    display: flex;
    margin: 5px;

  }
  .rainbow{
    color: red;
  }
  .toggle-container{
    display: flex;
    gap: 10px;
  }

.grid-block {
    color: white;
    border: none;
    outline: 2px solid rgba(72, 61, 139, 0.2);
    background-color:var(--base-color);
}

.grid-block:hover{
filter: brightness(80%);
transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

button {
    color: white;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    width: 10rem;
    height: auto;
    font-size: 16px;
    text-shadow: 0px 0px 2px black;
    
}


.grid-container {
  display: flex;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(var(--grid-z), var(--cell-size));
  grid-template-rows:repeat(var(--grid-z), var(--cell-size));
}