
  #rainbow-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  #rainbow-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  #rainbow-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  #rainbow-checkbox:checked+label::before {
    border-color: var(--rainbow-color);
    background-color: var(--rainbow-color);;
}